<%- include("header") -%>

<div class="main-container">
    <div class="date-container">
        <p class="day">
            <%= day %>
        </p>
    </div>
    <div class="item-container">
        <p class="item-content">
            <%= addedItems %>
        </p>
        <input type="checkbox" class="delete-checkbox">
    </div>
    <form action="/" class="item" method="post">
                <div class="text-input-container">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" class="btn">+</button>
                </div>
            </form>
</div>

<%- include("footer") -%>