<%- include("header") -%>

<div class="main-container">
    <div class="date-container">
        <p class="day">day</p>
        <p class="date">date</p>
    </div>
    <div class="item-container">
        <p class="item-content">This is your item</p>
        <input type="checkbox" class="delete-checkbox">
    </div>
    <div class="item-container">
        <p class="item-content">This is your item</p>
        <input type="checkbox" class="delete-checkbox">
    </div>
    <div class="item-container">
        <p class="item-content">This is your item</p>
        <input type="checkbox" class="delete-checkbox">
    </div>
    <div class="text-input-container">
        <input type="text">
        <button class="btn">+</button>
    </div>
</div>

<%- include("footer") -%>