html{
    background: linear-gradient(180deg, #5292ff 30%, #457aff 100%);
    min-height: 1000px;
    font-family: 'helvetica neue';
}

.main-container{
   margin: 100px auto;
   border-radius: 4px;
   background: #fefefe;
   max-width: 250px; 
   max-height: 450px;
   box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
   justify-content: space-between;
}

.text-input-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.date-container{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #929292;
}



.item-container{
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  max-width: 240px;
  display: flex;
  border: 1px solid #F1F1F1;
  align-items: baseline;
  border-radius: 30px;
  
}

.item-content{
  flex-grow: 3;
  text-align: center;

}
.delete-checkbox{
  flex-grow: 1;
  
}


.btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #87f1ff;
  margin: auto;
  border-color: transparent;
}